<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PinturasCreateDlg" widgetVar="PinturasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePinturasTitle}">
            <h:form id="PinturasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pinturasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePinturasLabel_color}" for="color" />
                        <p:inputText id="color" value="#{pinturasController.selected.color}" title="#{bundle.CreatePinturasTitle_color}" />
                        <p:outputLabel value="#{bundle.CreatePinturasLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{pinturasController.selected.descripcion}" title="#{bundle.CreatePinturasTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.CreatePinturasLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{pinturasController.selected.precio}" title="#{bundle.CreatePinturasTitle_precio}" />
                        <p:outputLabel value="#{bundle.CreatePinturasLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{pinturasController.selected.codigo}" title="#{bundle.CreatePinturasTitle_codigo}" required="true" requiredMessage="#{bundle.CreatePinturasRequiredMessage_codigo}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pinturasController.create}" value="#{bundle.Save}" update="display,:PinturasListForm:datalist,:growl" oncomplete="handleSubmit(args,'PinturasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PinturasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
