<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PinturasEditDlg" widgetVar="PinturasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPinturasTitle}">
            <h:form id="PinturasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pinturasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPinturasLabel_color}" for="color" />
                        <p:inputText id="color" value="#{pinturasController.selected.color}" title="#{bundle.EditPinturasTitle_color}" />
                        <p:outputLabel value="#{bundle.EditPinturasLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{pinturasController.selected.descripcion}" title="#{bundle.EditPinturasTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditPinturasLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{pinturasController.selected.precio}" title="#{bundle.EditPinturasTitle_precio}" />
                        <p:outputLabel value="#{bundle.EditPinturasLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{pinturasController.selected.codigo}" title="#{bundle.EditPinturasTitle_codigo}" required="true" requiredMessage="#{bundle.EditPinturasRequiredMessage_codigo}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pinturasController.update}" value="#{bundle.Save}" update="display,:PinturasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PinturasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PinturasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
