<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PinturasViewDlg" widgetVar="PinturasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPinturasTitle}">
            <h:form id="PinturasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pinturasController.selected != null}">
                        <h:outputText value="#{bundle.ViewPinturasLabel_color}"/>
                        <h:outputText value="#{pinturasController.selected.color}" title="#{bundle.ViewPinturasTitle_color}"/>
                        <h:outputText value="#{bundle.ViewPinturasLabel_descripcion}"/>
                        <h:outputText value="#{pinturasController.selected.descripcion}" title="#{bundle.ViewPinturasTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewPinturasLabel_precio}"/>
                        <h:outputText value="#{pinturasController.selected.precio}" title="#{bundle.ViewPinturasTitle_precio}"/>
                        <h:outputText value="#{bundle.ViewPinturasLabel_codigo}"/>
                        <h:outputText value="#{pinturasController.selected.codigo}" title="#{bundle.ViewPinturasTitle_codigo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PinturasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
