<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EnfermedadesEditDlg" widgetVar="EnfermedadesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEnfermedadesTitle}">
            <h:form id="EnfermedadesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{enfermedadesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEnfermedadesLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{enfermedadesController.selected.nombre}" title="#{bundle.EditEnfermedadesTitle_nombre}" required="true" requiredMessage="#{bundle.EditEnfermedadesRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditEnfermedadesLabel_curable}" for="curable" />
                        <p:inputText id="curable" value="#{enfermedadesController.selected.curable}" title="#{bundle.EditEnfermedadesTitle_curable}" />
                        <p:outputLabel value="#{bundle.EditEnfermedadesLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{enfermedadesController.selected.descripcion}" title="#{bundle.EditEnfermedadesTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditEnfermedadesLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{enfermedadesController.selected.codigo}" title="#{bundle.EditEnfermedadesTitle_codigo}" required="true" requiredMessage="#{bundle.EditEnfermedadesRequiredMessage_codigo}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{enfermedadesController.update}" value="#{bundle.Save}" update="display,:EnfermedadesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EnfermedadesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EnfermedadesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
