<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EnfermedadesViewDlg" widgetVar="EnfermedadesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEnfermedadesTitle}">
            <h:form id="EnfermedadesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{enfermedadesController.selected != null}">
                        <h:outputText value="#{bundle.ViewEnfermedadesLabel_nombre}"/>
                        <h:outputText value="#{enfermedadesController.selected.nombre}" title="#{bundle.ViewEnfermedadesTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewEnfermedadesLabel_curable}"/>
                        <h:outputText value="#{enfermedadesController.selected.curable}" title="#{bundle.ViewEnfermedadesTitle_curable}"/>
                        <h:outputText value="#{bundle.ViewEnfermedadesLabel_descripcion}"/>
                        <h:outputText value="#{enfermedadesController.selected.descripcion}" title="#{bundle.ViewEnfermedadesTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewEnfermedadesLabel_codigo}"/>
                        <h:outputText value="#{enfermedadesController.selected.codigo}" title="#{bundle.ViewEnfermedadesTitle_codigo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EnfermedadesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
